/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
    font-family: "Consolas", "Menlo", "Ubuntu Mono",
        "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 10pt;
    white-space: pre;

    color: #f0f0f0;
    background: #888;
}

body, .terminal {
    margin:  0;
    padding: 0;

    position: fixed;
    top:    0;
    left:   0;
    bottom: 0;
    right:  0;

    overflow: hidden;
}

body {
    margin: 0.5em;
}

.terminal {
    padding: 0.5em;
}

.terminal-cursor {
    color: #000000;
    background: #f0f0f0;
}
